.height-images-holders{
    height: 520px!important
}
.img-left img,.img-right img{
    width: 298px;
    height: 298px;
    border: 10px solid;
    border-color: white;
}
.img-right{
    position: absolute;
    left: 30%;
    top: 30%;
}
.title{
    font-size: 60px;
    line-height: 65px;
    color: rgb(29 67 84);
}
.subtitle{
    letter-spacing: -.3px;
    font-size: 22px;
    line-height: 36px;
}

