<div class="container  py-2 ">
    <div class="row px-5">
        <div class="col-3">
            <div class="card shadow"  style="width: 14rem;" >
                <div class="position-relative  cursor-pointer" >
                    <img  src="../../../../assets/images/default_course.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-title m-0 p-0" style="color:chartreuse">Article </h4>
                  <small>45 views</small>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow"  style="width: 14rem;" >
                <div class="position-relative  cursor-pointer" >
                    <img  src="../../../../assets/images/default_course.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-title m-0 p-0" style="color:chartreuse">Article </h4>
                  <small>45 views</small>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow"  style="width: 14rem;" >
                <div class="position-relative  cursor-pointer" >
                    <img  src="../../../../assets/images/default_course.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-title m-0 p-0" style="color:chartreuse">Article </h4>
                  <small>45 views</small>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow"  style="width: 14rem;" >
                <div class="position-relative  cursor-pointer" >
                    <img  src="../../../../assets/images/default_course.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-title m-0 p-0" style="color:chartreuse">Article </h4>
                  <small>45 views</small>
                </div>
            </div>
        </div>
    </div>
</div>