<div class="container">
    <div class="card p-4 border-left-0 border-right-0 card-hover">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center justify-content-around m-0 p-0">
            <div class="number_music"> <b>1</b></div>
            <img src="../../../assets/images/boite_vocal.jpg" alt="...">
          </div>
          <div class="col-md-8 d-flex align-items-center m-0 p-0">
            <a href="#" class="button--play d-flex justify-content-center align-items-center">
                <span class="">
                    <i class="fas fa-play" aria-hidden="true"></i>
                </span>
            </a>
            <div class="card-body mx-2 d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title m-0">Boite vocal</h5>
                    <p class="card-text">
                        <b>Hip hop</b> <br>
                    </p>
                </div>
              <div>
                  <span style="font-size: 24px;">
                    <i class="far fa-heart" aria-hidden="true"></i>
                  </span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="card p-4 border-left-0 border-right-0 card-hover">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center justify-content-around m-0 p-0">
            <div class="number_music"> <b>1</b></div>
            <img src="../../../assets/images/boite_vocal.jpg" alt="...">
          </div>
          <div class="col-md-8 d-flex align-items-center m-0 p-0">
            <a href="#" class="button--play d-flex justify-content-center align-items-center">
                <span class="">
                    <i class="fas fa-play" aria-hidden="true"></i>
                </span>
            </a>
            <div class="card-body mx-2">
              <h5 class="card-title m-0">Boite vocal</h5>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="position-fixed w-100 parent_audio" hidden>
    <ngx-audio-player [playlist]="playlist" [displayTitle]="false" [displayPlaylist]="false"></ngx-audio-player>  
</div>