<div class="container  py-2 px-5 ">
    <div class="row px-5">
        <div class="col-3">
            <div class="card border-0"  style="width: 14rem;" >
                <div class="position-relative  cursor-pointer" >
                    <img  src="../../../../assets/images/default.jpg" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center align-items-center modalOverlay overlay cursor-pointer position-absolute">
                        <span style="font-size: 30px;" class="text-white">
                            <i class="fa fa-play"></i>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title m-0 p-0">Card title</h4>
                  <small>45 views</small>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card border-0"  style="width: 14rem;" >
                <div class="position-relative  cursor-pointer" >
                    <img  src="../../../../assets/images/default.jpg" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center align-items-center modalOverlay overlay cursor-pointer position-absolute">
                        <span style="font-size: 30px;" class="text-white">
                            <i class="fa fa-play"></i>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title m-0 p-0">Card title</h4>
                  <small>45 views</small>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card border-0"  style="width: 14rem;" >
                <div class="position-relative  cursor-pointer" >
                    <img  src="../../../../assets/images/default.jpg" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center align-items-center modalOverlay overlay cursor-pointer position-absolute">
                        <span style="font-size: 30px;" class="text-white">
                            <i class="fa fa-play"></i>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title m-0 p-0">Card title</h4>
                  <small>45 views</small>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card border-0"  style="width: 14rem;" >
                <div class="position-relative  cursor-pointer" >
                    <img  src="../../../../assets/images/default.jpg" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center align-items-center modalOverlay overlay cursor-pointer position-absolute">
                        <span style="font-size: 30px;" class="text-white">
                            <i class="fa fa-play"></i>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title m-0 p-0">Card title</h4>
                  <small>45 views</small>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card border-0"  style="width: 14rem;" >
                <div class="position-relative  cursor-pointer" >
                    <img  src="../../../../assets/images/default.jpg" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-center align-items-center modalOverlay overlay cursor-pointer position-absolute">
                        <span style="font-size: 30px;" class="text-white">
                            <i class="fa fa-play"></i>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title m-0 p-0">Card title</h4>
                  <small>45 views</small>
                </div>
              </div>
        </div>
    </div>
</div>


<div class="modalOverlay containerVideo d-flex justify-content-center align-items-center" *ngIf="false">
    <div *ngIf="true" class="container position-relative" style="height: 560px;">
        <div class="modal_close_icon">
            <img  src="../../../../assets/images/cancel.jpg" alt="Modal close icon">
        </div>
        <vg-player>
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
        
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
        
            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>
        
              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        
              <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
        
              <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        
              <vg-track-selector></vg-track-selector>
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>
        
              <vg-fullscreen></vg-fullscreen>
            </vg-controls>
        
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
              <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
              <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
              <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm">
        
              <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
                srclang="en" default>
              <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
                srclang="es">
            </video>
          </vg-player>
    </div>
</div>